{
    "logFile": "bookings.log",
    "port": 80,
    "database": {
        "db-host": "host",
        "db-port": 5432,
        "db-user": "user",
        "db-pass": "pass",
        "db-dbname": "bookings"

    }
}